{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">仪表盘</a>
                </li>
                <li>
                    <a href="/campaigns">项目</a>
                </li>

                <li>
                    <a href="/sending_profiles">第一步：配置发送邮件的邮箱</a>
                </li>
                <li>
                    <a href="/landing_pages">第二步：制作钓鱼登录页面</a>
                </li>
                <li> <a href="/templates">第三步：制作钓鱼邮件模板</a>
                </li>
                <li>
                    <a href="/groups">第四步：添加被钓鱼的用户和组</a>
                </li>

                <li>
                    <a href="/settings">设置</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">用户管理<span class="nav-badge badge pull-right">管理员</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}